modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 9090
externalPort = 6800

[[ports]]
localPort = 9091
externalPort = 6000

[[ports]]
localPort = 23183
externalPort = 3000

[[ports]]
localPort = 23184
externalPort = 3001

[[ports]]
localPort = 23185
externalPort = 3002

[[ports]]
localPort = 23186
externalPort = 4200

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPER_ADMIN_EMAIL = "joaquin.fontanini@gmail.com"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"

[userenv.development]
APP_URL = "https://cf04c3b9-518d-4f1a-94ae-9dfd64c80ea6-00-2250o88mujsjw.kirk.replit.dev"
